*,
html {
    margin: 0;
    padding: 0;
}
.kokoh {
    background-image: url("background.png");
    background-size: cover;        /* Biar penuh */
    background-position: center;   /* Tengah */
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.judulbuah {
    background-color: maroon ;
    font-size: 35px;
    padding: 30px 20px;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;  
    color: white; 
}
.ikontol {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    
}
.meki {
    background-color: rgb(67, 2, 2);
    width: 100%;
    height: 80px;
    margin-top: 0;

}
.jojo {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    
}
.jawa {
    list-style: none;
    font-size: 30px;
    padding: 10px 30px;
    margin: 45px;
    background-position: 20%;

}

.jawa:hover{
    background-color: grey;
    transition: .2s ease-in-out;
    border-radius: 10px;
    transition:  .0.5s ease-out;
}

.link-member {
    text-decoration: none;
    color: white;

}
.jaja {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px ;
    gap: 10px 19px;
    margin-left: 150px;
    flex-direction: row;

}
.fotomember {
    width: 300px;
    height: 300px;
    border-radius: 0px;
    object-fit: cover;
    gap: 10px;
    margin-top: 15px;
    border: 3px solid black;
    
}

.jaja-pop {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: grey;
    border: 5px solid gold ;
    border-radius: 5%;
    width: 305px;          /* Ukuran lebar tetap */
    min-height: 350px;     /* Tinggi minimum agar rata */

}
.jaja-pap{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.jaja-pap p{
  background-color: white;
  border: 2px solid black;
  border-radius: 0%;
  padding: 5px;
  margin: 6px 5px;
  color: black;
}
.juju {
    list-style: none;
    list-style-type: none;
    background-color: grey;
    border: 5px solid gold ;
    border-radius: 10%;
    flex: 1;
    font-size: 30px;
    line-height: 1.5;
    color: black;
    margin-left: 50px;
}
.juju p {
    margin: 30px;
}

@media (max-width:768px) {
    .judulbuah{
        font-size: 24px;
        padding: 20x 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .ikontol{
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-top: 15px;
    }

    .jojo{
        flex-wrap: wrap;
        height: auto;
    }

    .jawa {
        font-size: 20px;
        margin: 0px;
        text-align: center;
        padding-top: 25px;
    }
    
    .jawa:hover {
        display: inline-block;
        padding: 15px 30px;
        margin-top: 12px;
    }
    .jaja{
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .jaja-pop{
        width: 305px;          /* Ukuran lebar tetap */
        min-height: 350px;
        align-items: center;
        margin-bottom: 20px;
    }
    .fotomember {
        height: auto;
        margin-top: 10px;
        width: 300px;
        height: 300px;
    }

    .jaja-pap p{
        font-size: 18px;
        text-align: flex-start;
    }
    .juju {
    width: 90%;
    margin-left:0;
    align-self: center;
    border-radius: 10px;
    font-size: 18px;
    }
    .juju p {
        margin: 5px;
        text-align: center;
    }
    
}
